<% layout('./layout/layout') %>
<% block('header').append(`<style>
</style>`)%>
<div class="container">
dasdasdasdas
    <a href="./">哈哈</a>
    <a href="..">第三方</a>
</div>
<% block('footer').append(`<script>
</script>`)%>