<% layout('layout/layout') %>
<% block('header').append(`<style>
.table th {
    background:#f5f5f5;
    height:40px;
    text-align:center;
    font-weight:normal;
}
.table td {
    text-align:center;
    height:90px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
    vertical-align:middle !important;
    padding: 0;
}
</style>`) %>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li><a href="/account/index">用户中心</a></li>
        <li class="active"><%= title %></li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <% include ../navbar/accountLeftNav.ejs %>
        </div>
        <div class="col-md-9">
            <% if(user.address.length===0){ %>
                <div class="panel panel-default" style="min-height:400px;">
                    <div class="no_address text-center" style="color:#898989;padding-top:120px;">
                        <i class="iconfont icon-map" style="font-size:60px;"></i>
                        <p class="fs18">你还没有收货地址</p>
                        <a class="new_address" href="javascript:void(0)">新建地址</a>
                    </div>
                </div>
            <% } else { %>
            <div>
                <div class="padding-bottom clearfix">
                    <span>您最多能创建10个收货地址</span>
                    <a class="new_address float_right" href="javascript:void(0)">新建地址</a>
                </div>
                <div class="panel panel-default ">
                    <table class="table table-hover">
                        <tr>
                            <th>收货人</th>
                            <th>地址</th>
                            <th>联系方式</th>
                            <th>操作</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>曹正 <small class="text-muted">[默认]</small></td>
                            <td>大数据发生了贷款及分类考试的凡事都</td>
                            <td>13728905705</td>
                            <td>
                                <a class="btn btn-link">修改</a>
                                <a class="btn btn-link">删除</a>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% block('footer').append(`<script id="addrTpl" type="text/template">
     <form class="form-horizontal margin-top20">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">所在地区</label>
            <div class="col-sm-3">
                <select id="provinceChoose" name="provinceId"  class="province_choose form-control">
                    <option>请选择</option>
                 </select>
            </div>
            <div class="col-sm-3">
                <select  id="cityChoose" name="city" class="form-control">
                    <option>请选择</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select  id="districtChoose"  name="district" class="form-control">
                    <option>请选择</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">详细地址</label>
            <div class="col-sm-10">
                <textarea name="address" class="form-control" style="resize:none;" rows="3" placeholder="详细地址，街道，门牌号等"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">收件人</label>
            <div class="col-sm-4">
                <input type="text" name="name" class="form-control" id="inputPassword3" placeholder="收件人姓名">
            </div>
            <label for="inputPassword3" class="col-sm-2 control-label">手机号码</label>
            <div class="col-sm-4">
                <input type="text" name="mobile" class="form-control" id="inputPassword3" placeholder="手机号码">
            </div>
        </div>
     </form>
</script>`) %>
<% block('footer').append(`<script>
jQuery(function() {
  var addrTpl = _.template($('#addrTpl').html())
  $('.new_address').on('click', function () {
    var tmp =  addrTpl({})
    var div = document.createElement('div')
    div.innerHTML = tmp
    BootstrapDialog.show({
      title:"修改地址",
      message: div,
      buttons: [{
        label: '取消',
        action: function(dialog) {
          dialog.close();
        }
      }, {
        label: '确定',
        cssClass:"btn-primary",
        action: function(dialog) {
          dialog.close()
        }
      }]
    });
  })
})
</script>`) %>