<% layout('layout/layout') %>
<% block('header').append(`<style>
</style>`) %>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/account/index">用户中心</a></li>
    <li class="active"><%= title %></li>
  </ol>
  <div class="row">
    <div class="col-md-3  col-xs-3">
        <% include ../navbar/accountLeftNav.ejs %>
    </div>
    <div class="col-md-9  col-xs-9">
      <div class="panel panel-default ">
        <div class="panel-heading fs14"><%=title %></div>
        <div class="panel-body" style="min-height:300px;">
          <form action="/account/changePwd" method="post" novalidate class="form-horizontal ">
            <div class="form-group">
              <label for="inputPassword1" class="col-sm-2 control-label">旧密码</label>
              <div class="col-sm-4">
                <input type="password" name="oldpwd" class="form-control" id="inputPassword1" placeholder="输入原始密码">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword2" class="col-sm-2 control-label">新密码</label>
              <div class="col-sm-4">
                <input type="password" name="pwd" class="form-control" id="inputPassword2" placeholder="新密码">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">重复密码</label>
              <div class="col-sm-4">
                <input type="password" name="pwdRepeat" class="form-control" id="inputPassword3" placeholder="重复密码">
              </div>
            </div>
            <div class="margin20-h" style="border-top:1px dashed #e3e3e3;"></div>
            <div class="form-group padding-top" >
              <div class="col-md-offset-2">
                <p class=" text-danger"><%=error || '' %>&nbsp;</p>
              </div>
              <div class="col-sm-offset-2 col-sm-4">
                <button class="btn btn-primary"  style="width:80px;" type="submit">保存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% block('footer').append(`<script>
</script>`) %>