@import './bootstrap';
@import './font-awesome';
@import './ionicons';
@import './AdminLTE';
@import './skins/skin-blue';
@import './bootoast';
.w-e-toolbar {
  flex-flow: wrap !important;
}
.login-box-body  .img_code{
  width: 84px;
  cursor: pointer;
  pointer-events: inherit;
  line-height: 0;
}
.hide_div {
  display:none;
}