<% layout('layout/layout') %>
<div class="container">
  <section class="section text-center">
    <h3>抱歉！您要的页面没有找到</h3>
    <p class="fs16 text-muted">您可以选择以下方式继续浏览网站</p>
    <p class="fs16"><a href="/">返回首页</a> | <a href="/goods/index">查看更多商品</a> | <a href="/login">去登录</a></p>
  </section>
</div>

