<% layout('layout/layout') %>
<div class="container" >
    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->


</div><!-- /.container -->
<% block('footer').append(`<script src='js/pager.js'></script>`)%>
<% block('footer').append(`<script>
</script>`)%>
