<% layout('layout/layout') %>
<% block('header').append(`<style>

</style>`)%>
<div class="container-fluid" >
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <% homeBanner.forEach(function(item,index){ %>
                <% if(item.value) { %>
                <li data-target="#carousel-example-generic" data-slide-to="<%=index %>" class="<%= index===0?' active':'' %>"></li>
                <% } %>
                <% }) %>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <% homeBanner.forEach(function(item,index){ %>
                    <% if(item.value) { %>
                    <div style="height:calc(100vh - 72px);width:100%;background:#f0f0f0;" class="item <%= index===0?' active':'' %>">
                        <div style="position:absolute;z-index:1;top:0;bottom:0;left:0;right:0;background:rgba(0, 0, 0, 0.3);"></div>
                        <div style="width:100%;height:100%;background:url(<%=item.value %>) no-repeat center;background-size:cover;"></div>
                    </div>
                    <% } %>
                <% }) %>
            </div>
            <!-- Controls -->
            <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a> -->
        </div>
    </div>
</div>
<div class="container-fluid" >
    <div style="padding:6vw 0;">
        <div class="text-center" style="font-size:42px;line-height:1.5;">智能芯片领域方案专家</div>
        <div class="text-center" style="font-size:24px;line-height:1.5;">让机器更好地理解和服务人类</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 " >
            <div class="bl_card light_bg" style="margin-bottom:20px;">
                <div class="bl_img_wrap">
                    <img class="img-responsive center-block" src="/upload/20200505/8cJr50aEw1otnC-1F_8llTdC_$date20200505_$580x326.jpg">
                </div>
                <div style="padding:30px;background:#FFF;">
                    <div class="fs24" style="line-height:1.5;">文档管理</div>
                    <div class="fs16" style="color:#808080;">第一款智能处理板卡产品，搭载了MLU100芯片，为云端推理提供强大的运算能力支撑</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" >
            <div class="bl_card light_bg" style="margin-bottom:20px;">
                <div class="bl_img_wrap" >
                    <img src="/upload/20200505/_zZ067s1HeLLULKCY1biSEqL_$date20200505_$550x300.jpg">
                </div>
                <div style="padding:30px;background:#FFF;">
                    <div class="fs24" style="line-height:1.5;">企业网盘</div>
                    <div class="fs16" style="color:#808080;">第一款智能处理板卡产品，搭载了MLU100芯片，为云端推理提供强大的运算能力支撑</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 " >
            <div class="bl_card light_bg" style="margin-bottom:20px;">
                <div class="bl_img_wrap">
                    <img src="/upload/20200505/-nmq38deyIi1gYBC2I2M3UGd_$date20200505_$538x285.png">
                </div>
                <div style="padding:30px;background:#FFF;">
                    <div class="fs24" style="line-height:1.5;">合同管理</div>
                    <div class="fs16" style="color:#808080;">第一款智能处理板卡产品，搭载了MLU100芯片，为云端推理提供强大的运算能力支撑</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 " >
            <div class="bl_card light_bg" style="margin-bottom:20px;">
                <div class="bl_img_wrap">
                    <img src="/upload/20200505/-nmq38deyIi1gYBC2I2M3UGd_$date20200505_$538x285.png">
                </div>
                <div style="padding:30px;background:#FFF;">
                    <div class="fs24" style="line-height:1.5;">文控管理</div>
                    <div class="fs16" style="color:#808080;">第一款智能处理板卡产品，搭载了MLU100芯片，为云端推理提供强大的运算能力支撑</div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->
<div class="container-fluid" >
    <div style="padding:6vw 0;">
        <div class="text-center" style="font-size:42px;line-height:1.5;">解决方案</div>
        <div class="text-center" style="font-size:24px;line-height:1.5;">让机器更好地理解和服务人类</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 " >
            <div class="bl_card light_bg relative" style="margin-bottom:20px;height: 30vw;">
                <div style="padding:6vw 30px;position:relative;z-index:1;">
                    <div class="fs36 bold light text-center" style="line-height:1.5;">智慧园区</div>
                    <div class="fs16 light padding-top20" >第一款智能处理板卡产品，搭载了MLU100芯片，为云端推理提供强大的运算能力支撑</div>
                    <div class="text-center padding-top"><a href="/#" class="light_link">了解详情></a></div>
                </div>
                <div style="position:absolute;top:0;right:0;bottom:0;left:0;">
                    <div class="trans_mask" style="position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.2);"></div>
                    <div class="bg" style="width:100%;height:100%;background:url(/upload/20200505/iNM8EXHFReiC2ac7NdZpKofF_$date20200505_$1440x387.jpg) no-repeat center;background-size:cover;"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 " >
            <div class="bl_card light_bg relative" style="margin-bottom:20px;height: 30vw;">
                <div style="padding:6vw 30px;position:relative;z-index:1;">
                    <div class="fs36 bold light text-center" style="line-height:1.5;">工业物联网</div>
                    <div class="fs16 light padding-top20" >第一款智能处理板卡产品，搭载了MLU100芯片，为云端推理提供强大的运算能力支撑</div>
                    <div class="text-center padding-top"><a href="/#" class="light_link">了解详情></a></div>
                </div>
                <div style="position:absolute;top:0;right:0;bottom:0;left:0;">
                    <div class="trans_mask" style="position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.2);"></div>
                    <div class="bg" style="width:100%;height:100%;background:url(/upload/20200505/rH8DfipmGahx7YT7kBXrddWz_$date20200505_$1440x964.jpg) no-repeat center;background-size:cover;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<% block('footer').append(`<script src='/js/jquery.lazyload.min.js'></script>`)%>
<% //block('footer').append(`<script src='js/iframeDialog.js'></script>`)%>
<% block('footer').append(`<script>
    jQuery(function(){
      var isLogin =${user?true:false};
      $("div.lazy,li.lazy").lazyload({effect: "fadeIn"});
      $('.add_cart').on('click',function(e){
        e.preventDefault()
        e.stopPropagation()
        var $this = $(this)
        if(!isLogin) return $.Toast('您还没有登录','warning')
        $.post('/add2Cart',{_id:$this.data('id'),num:1}).done(function(res){
          if (res.code === 0) {
            var num = res.data.cart.reduce(function(before,item){
              return before + item.goodsNum
            }, 0)
            $('#cartBadge').triggerHandler('change.cartBadge',[num])
            $.Toast('添加成功','success')
          } else {
            $.Toast(res.message,'warning')
          }
        })
      })
    });
</script>`)%>
