<% layout('layout/layout') %>
<div class="container" >
<div>这里是首页</div>

</div><!-- /.container -->
<% block('footer').append(`<script src='js/pager.js'></script>`)%>
<% block('footer').append(`<script src='js/iframeDialog.js'></script>`)%>
<% block('footer').append(`<script>
    jQuery(function(){

    });
</script>`)%>
