<% layout('layout/layout') %>
<% block('header').append(`<style>
.page-head-title {
    text-align: left;
    text-transform: none;
    padding: 0px 0px 15px 0px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px #e5e5e5 solid;
}
.page {
    background-color: #fff;
    border: 1px #e5e5e5 solid;
    padding: 20px;
    overflow: hidden;
}
</style>`)%>

<div class="container">
    <div style="height: 200px;background: url(/upload/banner_other.jpg) no-repeat center;background-size: cover;" >
    </div>
    <div >
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active"><%= page.title %></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-3">
            <% include navbar/pageNav %>
            <% include navbar/addrNav %>
        </div>
        <div class="col-md-9">
            <div class="page" >
                <h2 style="margin-top:0;" class="page-head-title"><%=page.title %></h2>
                <%- page.content %>
            </div>
        </div>

    </div>


</div>
<% block('footer').append(`<script>
</script>`)%>