<% layout('layout/layout') %>
<% block('header').append(`<style>
.page-head-title {
    text-align: left;
    text-transform: none;
    padding: 0px 0px 15px 0px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px #e5e5e5 solid;
}
.page {
    background-color: #fff;
    border: 1px #e5e5e5 solid;
    padding: 20px;
    overflow: hidden;
}
</style>`)%>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><%= title %></li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-widget newsletter wow  outer-bottom-small" style="visibility: visible; ">
                <h3 class="section-title">销量最佳</h3>
                <div class="sidebar-widget-body outer-top-xs">
                    <p>Sign Up for Our Newsletter!</p>
                    <form role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Subscribe to our newsletter">
                        </div>
                        <button class="btn btn-primary">Subscribe</button>
                    </form>
                </div><!-- /.sidebar-widget-body -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="page" >
                <h2 class="page-head-title"><%=title %></h2>
                <%- content %>
            </div>
        </div>

    </div>


</div>
<% block('footer').append(`<script>
</script>`)%>