@import './frozenUI/frozenui.css';
@import './fonts/shop/iconfont.css';
@import './swipeslider';
@import './tool';
.ui-grid,.ui-grid-trisect,.ui-grid-halve {
	padding-left: 15px;
	padding-right: 10px;
	overflow: hidden;
	padding-top: 10px
}
.ui-footer {
	background:#FFF;
}
.light-bg {
	background:#FFF;
}
.ui-footer {
	i {
		display:block;
		font-size:20px;
	}
	.footer_item > a{
		color:#656565;
	}
	.footer_item.active > a{
		color:#59b210;
	}
	.footer_item a{
		display:block;
		width:100%;
		font-size:12px;
	}
}