@import './_variables';
@import './bootstrap/bootstrap';
// @import './non-responsive';
@import './fonts/shop/iconfont';
@import './font-awesome/font-awesome';
@import './phone';
//@import './settings';
//@import '../scss/foundation';
//@include foundation-everything;
@import './bootoast';
// @import './layout';
@import './tool';
//@import './login';
body {
  background:#f7f7f7;
}
.navbar{
  border:0;
}
.navbar-nav li {
  margin: 0 20px;
}

.dropdown-menu > li > a {
  color:#FFF;
}
.dropdown-menu:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}
.navbar-collapse.in  {
  background:#000;
  .navbar-nav > li > a:hover,  .navbar-nav > li > a:focus {
      color: #ececec;
      background-color: #656565;
  }
  .open .dropdown-menu > li > a:hover {
      color: #ececec;
      background-color: #656565;
  }
  .navbar-nav .dropdown-menu {
    margin-left:0;
    left:auto;
    right:auto;
  }
  .navbar-nav .dropdown-menu li {
    width:auto;
    height:36px;
    line-height:30px;
    text-align:center;
  }
}
.navbar-nav  {
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: rgba(255,255,255,0.75);
    background-color: transparent;
  }
}
.navbar-nav .dropdown-menu {
  background:#333;
  right:auto;
  left:50%;
  margin-left:-101px;
}
.navbar-nav .dropdown-menu li {
  width:160px;
  height:36px;
  line-height:30px;
  text-align:center;
}
#ieDisplay {
  display:none;
}
body, button, code, input, select, textarea {
  color: #333;
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif;
  //font: 12px/1.5 "Microsoft Yahei","微软雅黑",verdana;
}
html,body,.wrap {
  height:100%;
}
body >.wrap {
  height:auto;min-height:100%
}
.main {
  padding-bottom:93px;
}
.footer {
  margin-top:-73px;
  height:73px;
  position:relative;
}
footer{
  position: absolute;
  width: 100%;
  height: 60px;
  background: #f5f5f5;
  bottom: 0;
}
a,a:hover{
  text-decoration: none;
}
a, a:active, a:hover, video {
  outline: 0;
}
.site-nav{
  height: 36px;
  background-color: #333;
  & .site-link{
    color:#ccc;
    line-height:36px;
    float: left;
    &:hover,&:active{
      color:#FFF;
    }
  }

  & .split {
    color: #ccc;
    float: left;
    line-height: 36px;
    margin: 10px 10px 10px 0;
    height: 16px;
    border-left: 1px solid #5c5c5c;
  }
}
.section {
  background-color: #fff;
  border: 1px #e5e5e5 solid;
  padding: 20px;
  overflow: hidden;
}
.footer .footer-bottom {
  background: #000;
  padding-top: 15px;
  color: #898989;
  padding-bottom: 10px;
}
.copyright-bar {
  background: #121212;
  padding: 5px 0px;
  color:#898989;
}

.footer_nav {
  list-style: none;
  display:block;
}
.footer_nav_item {
  float:left;
  width:25%;
  font-size:14px;
}

// 数字组件样式
.spinner {
  border:1px solid #e3e3e3;
  display:inline-block;
}
.spinner .next,.spinner .prev {
  width:36px;
  height:30px;
  color:#656565;
  display:inline-block;
  text-align:center;
  text-decoration:none;
  float:left;
  line-height: 28px;
  font-size: 26px;
}
.spinner .disabled {
  background:#f0f0f0;
}
.spinner .prev {
  border-right:1px solid #e3e3e3;
}
.spinner .next {
  border-left:1px solid #e3e3e3;
}
.spinner input {
  float:left;
  width:60px;
  padding: 0;
  height:30px;
  line-height:30px;
  font-size:12px;
  text-align:center;
  outline:none;
  border:none;
}

.sidebar .sidebar-module-container .sidebar-widget .section-title {
  margin-top: 0px;
}
.outer-top-vs {
  margin-top: 30px;
}
.sidebar-widget {
  background-color: #fff;
  border: 1px #e5e5e5 solid;
  padding: 20px;
}
.section-title {
  font-size: 14px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0px;
}
.outer-top-xs {
  margin-top: 20px;
}
.dot {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-group-no-border .list-group-item {
  border:none;
}
.list-group-other-padding .list-group-item {
  padding: 6px 0;
}

a.normal_link{
  color: #333;
  text-decoration: none;
}
a.normal_link:hover, a.normal_link:focus {
  color: #58953b;
}

// 头像图片

.img_file{
  width:100px;
  height:100px;
  border:1px solid #e3e3e3;
  position:relative;
}
.img_file:after{
  content:"+";
  position:absolute;
  width:100%;
  height:100%;
  font-size:30px;
  text-align:center;
  line-height:100px;
}

.thumbnail {
  margin: 5px -10px;
}
.hide_div {
  display:none;
}
.light {
  color:#FFF;
}
.light_link,.light_link:active{
  color:#FFF;
  text-decoration: underline;
  &:focus{
    color:#FFF;
  }
  &:hover{
    color:rgba(255,255,255,0.75)
  }
}
.light_bg {
  background:#FFF;
}
.img_wrap_bg {
  position:absolute;top:0;right:0;bottom:0;left:0;
  z-index: -1;
  .trans_mask {
    position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.2);
  }
  .bg {
    width:100%;height:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }
}
.big_title {
  padding:6vw 0 4vw 0;
  .h1 {
    font-size:42px;line-height:1.5;
  }
  .h2 {
    font-size:36px; line-height:1.5;
  }
  .h3 {
    font-size:24px;line-height:1.5;
  }
  .h4 {
    font-size:18px;line-height:1.5;
  }
  .h5 {
    font-size:16px;line-height:1.5;
  }
}
.bl_img_wrap img{
  max-width:100%;
}
.color_333{
  color:#333;
}
.fullimg {
  height:calc(100vh - 76px)
}