.xs_footer {
  background: #FFF;
  color: #131313;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #e3e3e3;
  & a.flex_item {
    font-size: 12px;
    padding-top: 5px;
    color: #656565;
    & > i {
      font-size: 24px;
      line-height: 20px;
    }
    & > p {
      margin: 0;
      line-height: 15px;
    }
  }
  & a.flex_item.active {
    color:#42932c;
  }
}
