<% layout('layout/layout') %>
<% block('header').append(`<style>
</style>`) %>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><%= title %></li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-widget newsletter wow  outer-bottom-small " style="visibility: visible; ">
                <h3 class="section-title">销量最佳</h3>
                <div class="sidebar-widget-body outer-top-xs">
                    <p>Sign Up for Our Newsletter!</p>
                    <form role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Subscribe to our newsletter">
                        </div>
                        <button class="btn btn-primary">Subscribe</button>
                    </form>
                </div><!-- /.sidebar-widget-body -->
            </div>
        </div>
        <div class="col-md-9">
            <ul class="list-group">
                <li class="list-group-item">暗物质缺失！科学家发现一个前所未见的幽灵星系</li>
                <li class="list-group-item">B站上市 ：用爱发电的IPO  Z世代的狂欢节和穿越次元壁的</li>
                <li class="list-group-item">融创发布会孙宏斌金句频出，终于可以和小股东一起骂乐视了？</li>
                <li class="list-group-item">90后生猛上位，bilibili得“通关密码”上市，看不懂，</li>
                <li class="list-group-item">库克麻烦了！苹果降频门还没完：美国用户的集体诉讼就要来了</li>
            </ul>
        </div>
    </div>
</div>
<% block('footer').append(`<script>
</script>`) %>