<% layout('layout/appLayout') %>
<div class="page has_tab">
  <div class="empty_cart text-muted text-center " style="padding-top:40%;">
    <i class="iconfont icon-cart" style="font-size:36px;"></i>
    <p class="fs14">您还没有添加任何商品</p>
    <a class="weui-btn weui-btn_mini weui-btn_primary" href="/app/index" ></a>
  </div>
</div>
