<% layout('layout/appLayout') %>
<div class="page">
  <section class="margin-bottom">

  </section>
  <section class="margin-bottom">
    <ul class="ui-list ui-border-tb ">
      <li>
        <div class="ui-avatar ui-list-img-square" style="width:65px;height:65px;">
          <span style="background-image:url(http://placeholder.qiniudn.com/188x188)"></span>
        </div>
        <div class="ui-list-info ui-border-t">
          <h4 class="ui-nowrap">歪歪</h4>
          <p class="ui-nowrap">欢迎您的登录</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="margin-bottom">
    <ul class="ui-list ui-list-single ui-list-link ui-border-tb">
      <li class="ui-border-t">
        <div class="ui-list-info">
          <h4 class="ui-nowrap">我的订单</h4>
          <div class="ui-txt-info">查看全部订单</div>
        </div>
      </li>
    </ul>
    <ul class="ui-tiled light-bg">
      <li><i>2</i><div>待付款</div></li>
      <li><i>1</i><div>待发货</div></li>
      <li><i>3</i><div>已发货</div></li>
      <!--<li><i>3</i><div>退换货</div></li>-->
    </ul>
  </section>
  <section class="margin-bottom">
    <ul class="ui-list ui-list-single ui-list-link ui-border-tb">
      <li class="ui-border-t">
        <div class="ui-list-info">
          <div >
            <i class="iconfont icon-cart padding-right5"></i>
          </div>
          <h4 class="ui-nowrap">我的购物车</h4>
          <div class="ui-txt-info"></div>
        </div>
      </li>
      <li class="ui-border-t">
        <div class="ui-list-info">
          <div >
           <i class="iconfont icon-map padding-right5"></i>
          </div>
          <h4 class="ui-nowrap">收货地址管理</h4>
          <div class="ui-reddot ui-reddot-static"></div>
        </div>
      </li>
    </ul>
  </section>
  <section class="margin-bottom">
    <ul class="ui-list ui-list-single ui-list-link ui-border-tb">
      <li class="ui-border-t">
        <div class="ui-list-info">
          <div >
            <i class="iconfont icon-cart padding-right5"></i>
          </div>
          <h4 class="ui-nowrap">公司介绍</h4>
          <div class="ui-txt-info"></div>
        </div>
      </li>
      <li class="ui-border-t">
        <div class="ui-list-info">
          <div >
            <i class="iconfont icon-map padding-right5"></i>
          </div>
          <h4 class="ui-nowrap">联系我们</h4>
          <div class="ui-reddot ui-reddot-static"></div>
        </div>
      </li>
    </ul>
  </section>
</div>
