<% layout('layout/appLayout') %>
<div class="page">
  <section class="ui-placehold-img">
    <span style="background-image:url(http://placeholder.qiniudn.com/640x200)"></span>
  </section>
  <section class="ui-panel" >
    <ul class="ui-row-flex">
      <li class="ui-col ">畜牧</li>
      <li class="ui-col ">家禽</li>
      <li class="ui-col ">水产</li>
      <li class="ui-col ">瓜果</li>
    </ul>
    <ul class="ui-row-flex">
      <li class="ui-col ">有机蔬菜</li>
      <li class="ui-col ">农副产品</li>
      <li class="ui-col ">饲料</li>
      <li class="ui-col ">旅游接待</li>
    </ul>
  </section>
  <section class="ui-panel">
    <p class="padding-left">推荐产品</p>
    <ul class="ui-grid-halve">
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
    </ul>
  </section>
</div>

