<% layout('layout/appLayout') %>
<div class="page">
  <div id="full_feature" class="swipslider">
    <ul class="sw-slides">
      <li class="sw-slide">
        <img src="/upload/banner1.jpg" alt="Summer beach concept">
      </li>
      <li class="sw-slide">
        <img src="/upload/banner2.jpg" alt="Lang from Yie Ar Kung Fu">
      </li>
      <li class="sw-slide">
        <img src="/upload/banner3.jpg" alt="Tiny Tina">
      </li>
    </ul>
  </div>
  <section class="ui-panel" >
    <ul class="ui-row-flex">
      <li class="ui-col ">畜牧</li>
      <li class="ui-col ">家禽</li>
      <li class="ui-col ">水产</li>
      <li class="ui-col ">瓜果</li>
    </ul>
    <ul class="ui-row-flex">
      <li class="ui-col ">有机蔬菜</li>
      <li class="ui-col ">农副产品</li>
      <li class="ui-col ">饲料</li>
      <li class="ui-col ">旅游接待</li>
    </ul>
  </section>
  <section class="ui-panel">
    <p class="padding-left">推荐产品</p>
    <ul class="ui-grid-halve">
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
    </ul>
  </section>
</div>
<% block('footer').append(`<script src='/js/swipeslider.js'></script>`)%>
<% block('footer').append(`<script>
jQuery(function(){
    $('#full_feature').swipeslider();
})
</script>`)%>
