<% layout('layout/appLayout') %>
<% block('header').append(`<style>
</style>`) %>
<div class="page has_head has_tab">
    <div class="page__hd weui-flex">
        <div style="width:60px;padding-left:10px;">
            <a href="javascript:;" onclick="history.back()"><i class="iconfont icon-back"></i>返回</a>
        </div>
        <div class="weui-flex__item">
            <h1 class="title"><%=title%></h1>
        </div>
        <div style="width:60px;"></div>
    </div>
    <div class="page__bd">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">成功支付 <span class="main-color"><%=order.needPrice %></span>元</h2>
                <% if(isPay) {%>
                <p class="weui-msg__desc">感谢您的购买，您的商品我们将尽快发货，请耐心等待</p>
                <% } else { %>
                <p class="weui-msg__desc">感谢您的购买，您的支付已成功，但结果尚未收到，稍后查看订单详情</p>
                <% } %>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="/app/orderDetail/<%=order._id %>" class="weui-btn weui-btn_primary">查看订单详情</a>
                    <a href="/app/index" class="weui-btn weui-btn_default">返回商城首页</a>
                </p>
            </div>
            <!--<div class="weui-msg__extra-area">-->
                <!--<div class="weui-footer">-->
                    <!--<p class="weui-footer__links">-->
                        <!--<a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>-->
                    <!--</p>-->
                    <!--<p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<% block('footer').append(`<script>
</script>`) %>