<% layout('layout/rpLayout') %>
<% block('header').append(`<style>
  button.weui-btn {
    position: relative;
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 1.41176471;
    border-radius: 4px;
    overflow: hidden;
  }
  .weui-cell__ft{
    color:#333;
  }
</style>`) %>

<div class="page has_head">
  <div>
      <div class="page__hd">
        <h1 class="page__title teacher text-center"><%= phase.title %></h1>
    </div>
    <form id="searchForm">
        <div class="weui-form__control-area">
            <div class="weui-cells__group weui-cells__group_form">
                <div class="weui-form__control-area padding15" >
                  <div class="weui-cells__group weui-cells__group_form">
                    <div class="weui-cells__title"><%= stepStr %>查询</div>
                    <div class="weui-cells weui-cells_form">
                      <div class="weui-cell weui-cell_active">
                        <div class="weui-cell__hd"><label class="weui-label">用户信息</label></div>
                        <div class="weui-cell__bd">
                            <input id="search" name="search" class="weui-input"  placeholder="填写本人姓名或手机号">
                            <input name="phaseId" type="hidden" value="<%=phase._id %>">
                        </div>
                      </div>
                      <div class="weui-cell weui-cell_active weui-cell_vcode"">
                        <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                        <div class="weui-cell__bd">
                            <input id="verifyCode"  name="verifyCode" type="number" class="weui-input" placeholder="填写验证码">
                        </div>
                        <div class="weui-cell__ft">
                            <img id="codeImg" class="weui-btn weui-btn_default weui-vcode-btn" style="padding:0;" src="/imgCode" onclick="this.src='/imgCode?time='+Date.now()" >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="weui-form__opr-area">
            <button class="weui-btn weui-btn_primary " type="submit">查询</button>
          </div>
    </form>
  </div>
  <div id="rpscoreRes" style="padding:15px;">

  </div>
  <!-- <div>
      <div class="weui-form__opr-area">
          <button class="weui-btn weui-btn_primary " type="submit">返回</button>
        </div>
  </div> -->
</div>
<% block('footer').append(`<script>
jQuery(function(){
  var $searchForm = $('#searchForm')
  $searchForm.on('submit', function (e) {
    e.preventDefault()
    console.log($('#search').val())
    if(!$('#search').val()) {
      return $.toast('请输入查询的姓名或者手机号', 'text')
    }
    if(!$('#verifyCode').val()) {
      return $.toast('请输入验证码', 'text')
    }
    var params = {}
    $searchForm.serializeArray().forEach(function (item) {
      params[item.name] = item.value
    })
    var search = params.search.replace(/(^\s*)|(\s*$)/g, '')
    console.log(search)
    if(/^[\\u4e00-\\u9fa5a-zA-Z\\s]+$/.test(search)) {
      params.username = search
    }
    if(/^1\\d{10}$/.test(search)) {
      params.mobile = search
    }
    if(!('username' in params) && !('mobile' in params)) {
      return $.toast('输入的内容有误，请重新输入', 'text')
    }
    query(params)
    return false
  })
  function query(params) {
    $rpscoreRes = $('#rpscoreRes')
    console.log(params, '-------')
    $.post('/rpscoreres/'+ params.phaseId, params).done(function (res) {
      console.log(res)
      if(res.code === 0) {
        if(res.message === 'empty') {
          return $rpscoreRes.html('<p>没有查询到任何信息</p>')
        }
        if (res.message === 'username') {
          $.prompt('请您输入姓名', '校验', function (val) {
            console.log(val);
            params.username = val
            query(params)
          })
          return
        }
        if(res.message === 'mobile') {
          $.prompt('请您输入手机号', '校验', function (val) {
            console.log(val);
            params.mobile = val
            query(params)
          })
          return
        }
        var stepStr = res.data.stepStr
        var upStr = res.data.upStr
        let obj = {
          'school':'学校全称',
          'username':	'姓名',
          'mobile' :'手机号',
          'grade': '年级',
          'enterNo': '考号',
          'score': stepStr,
          'isUp': '是否晋级'+ upStr,
          'teacher': '指导老师',
          'joinStat': '报名方式'
        }
        var rat = res.data.rating
        var tmp = '<div class="weui-cells">'
        for(var key in obj) {
          tmp += '<div class="weui-cell weui-cell_example">'+
                  '<div class="weui-cell__bd"><p>'+obj[key]+'</p></div>'+
                    '<div class="weui-cell__ft">'+rat[key]+'</div>'+
                  '</div>'
        }
        tmp += '</div>'
        $rpscoreRes.html(tmp)
        $('#searchForm').hide();
      } else {
        $('#codeImg').trigger('click')
        $('#verifyCode').val('')
        $.toast(res.message, 'text')
      }
    })
  }
})
</script>`)%>