<% layout('layout/rpLayout') %>
<% block('header').append(`<style>
</style>`) %>
<div class="page has_head">
  <h1 style="text-align:center;">你访问的页面不存在</h1>
  <div style="position:fixed;bottom:0;width:100%;line-height:40px;" class="fs12 text-center">粤ICP备19136306号</div>
</div>
