<% layout('layout/appLayout') %>
<% block('header').append(`<style>
</style>`) %>
<div class="page has_head">
    <div class="page__hd weui-flex">
        <div style="width:60px;padding-left:10px;">
            <a href="javascript:;" onclick="history.back()"><i class="iconfont icon-back"></i>返回</a>
        </div>
        <div class="weui-flex__item">
            <h1 class="title"><%=title %></h1>
        </div>
        <div style="width:60px;"></div>
    </div>
    <div class="page_bd">
        <!--<div class="weui-cells__title">个人设置</div>-->
        <div class="weui-cells">
            <a href="/app/info" class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>用户信息</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <!--<a class="weui-cell weui-cell_access" href="javascript:;">-->
                <!--<div class="weui-cell__bd">-->
                    <!--<p>修改密码</p>-->
                <!--</div>-->
                <!--<div class="weui-cell__ft">-->
                <!--</div>-->
            <!--</a>-->
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_warn" href="/logout" id="showTooltips">退出登录</a>
        </div>
    </div>
</div>
<% block('footer').append(`<script>
</script>`) %>