<% layout('layout/appLayout') %>
<div class="page">
  <section class="ui-panel " style="padding-left:81px;" >
    <ul class="ui-grid-halve" style="padding-left: 5px;padding-right: 0px;">
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
      <li>
        <div class="ui-grid-halve-img">
          <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
        </div>
      </li>
    </ul>
  </section>
</div>
