<div class="sidebar-widget newsletter wow  outer-bottom-small" style="visibility: visible; ">
    <h3 class="section-title">用户中心</h3>
    <div class="sidebar-widget-body outer-top-xs">
        <ul class="nav nav-pills nav-stacked">
            <li class="<% if(basePath=='/account/index'){ %>active<% } %>" ><a href="/account/index">个人主页</a></li>
            <li class="<% if(basePath=='/account/accountInfo'){ %>active<% } %>" ><a href="/account/accountInfo">个人信息</a></li>
            <li class="<% if(basePath=='/account/address'){ %>active<% } %>" ><a href="/account/address">地址管理</a></li>
            <li class="<% if(basePath=='/account/orderManage'){ %>active<% } %>" ><a href="/account/orderManage">订单管理</a></li>
        </ul>
    </div><!-- /.sidebar-widget-body -->
</div>