<div class="sidebar-widget newsletter wow  outer-bottom-small margin-bottom20 " style="visibility: visible;padding:15px; ">
    <h3 class="section-title">联系我们</h3>
    <div class="sidebar-widget-body margin-top15">
        <p>公司：白石山农场</p>
        <p>地址：广东省深圳市福田区创新科技广场一期</p>
        <p>电话：0755-12345678</p>
        <p>邮箱：278178596@qq.com</p>
    </div><!-- /.sidebar-widget-body -->
</div>