<div class="sidebar-widget newsletter wow  outer-bottom-small margin-bottom20 " style="visibility: visible;padding:15px; ">
    <h3 class="section-title">推荐阅读</h3>
    <div class="sidebar-widget-body margin-top15">
        <ul class="list-group list-group-no-border list-group-other-padding  margin-bottom5">

           <% topArticles.forEach(function(item){ %>
            <li class="list-group-item dot">
                <a class="normal_link" href="/article/detail/<%=item._id%>"><i class="iconfont icon-more padding-right5"></i><%=item.title %></a>
            </li>
            <%}) %>
        </ul>
    </div><!-- /.sidebar-widget-body -->
</div>