<div class="sidebar-widget newsletter wow  outer-bottom-small margin-bottom20" style="visibility: visible;padding:15px; ">
    <h3 class="section-title">推荐商品</h3>
    <div class="sidebar-widget-body margin-top15">
        <ul class="list-group list-group-no-border list-group-other-padding  margin-bottom5">
            <li class="list-group-item dot">
                <a class="normal_link">
                  <div class="margin-bottom" style="border:1px solid #e5e5e5"><img style="max-width:100%;" src="/upload/20180405/nAKPa0U0YZOT_cym7wbgqOwS_$date20180405_$600x680_$sma_330x374.jpg"></div>
                  <p class="text-center">一杯清茶放空心灵的禅意</p>
                </a>
            </li>
            <li class="list-group-item  dot">
                <a class="normal_link">
                    <div class="margin-bottom" style="border:1px solid #e5e5e5"><img style="max-width:100%;" src="/upload/20180405/nAKPa0U0YZOT_cym7wbgqOwS_$date20180405_$600x680_$sma_330x374.jpg"></div>
                    <p class="text-center">一杯清茶放空心灵的禅意</p>
                </a>
            </li>
        </ul>
    </div><!-- /.sidebar-widget-body -->
</div>