<% layout('layout/layout') %>
<div class="row">
        <a id="imgUpload" data-path="/admin/uploadXlsx" class="btn btn-sm btn-success">添加+</a>
    <div class="col-lg-3 col-xs-6">

    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">

    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
  
    <!-- ./col -->
</div>
<% block('footer').append(`<script src="${assetsPath}/js/uploadFile.js"></script>`); %>
<% block('footer').append(`<script>
jQuery(function(){
    $('#imgUpload').uploadFile(function(imgs){
    	console.log(imgs)
        // location.reload();
    });

})
</script>`)%>